{% extends 'garage_layout.html' %}
{% block title %}About us{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/ui/util.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ui/about.css" />
{% endblock %}

{% block content %}
    <img src="/static/imgs/about-cover.jpg" alt="" class="page-cover-img" />
    <section class="bg-smoke">
      <h1>Who we are?</h1>
      <div class="red-line"></div>
      <p class="about-autocare">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta dolore
        neque facilis vitae obcaecati consequatur? Laboriosam quisquam porro
        tempora facere numquam blanditiis. Quaerat repudiandae nesciunt
        molestias sint dolor accusantium tempore placeat dignissimos veritatis?
        Cum cumque doloremque quibusdam quam sint illo dolorem quo, ullam libero
        animi asperiores molestias? Nulla, magnam alias. Lorem ipsum dolor sit,
        amet consectetur adipisicing elit. Dolores atque voluptates perferendis
        harum sit beatae ut assumenda, impedit minima quisquam sint possimus
        placeat a quaerat quas ipsa eum recusandae quam blanditiis quasi. Nobis
        temporibus nostrum at qui, corrupti sint labore consectetur vitae modi,
        quibusdam reprehenderit! Culpa neque aut delectus molestiae. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Atque eveniet
        exercitationem labore consequuntur architecto quo, quis tempore. A porro
        in natus tenetur necessitatibus aliquid at velit officiis molestias
        iusto ut veniam atque officia itaque ducimus unde magnam obcaecati
        sapiente, alias amet accusamus! Adipisci nesciunt voluptates voluptas
        eveniet reprehenderit ex iste unde vel? Numquam ab, ut at assumenda
        nostrum voluptatem. Fugiat provident quibusdam perferendis dolorem
        explicabo eveniet vitae reiciendis doloremque minus temporibus quaerat
        delectus dolores, sit sapiente, autem ut nobis? Repellendus qui ad,
        architecto mollitia eos aspernatur incidunt consectetur aperiam error
        corporis in facere harum sint illum commodi velit perferendis excepturi.
      </p>
    </section>
    <!-- Our partners -->
    <section class="feature-wrapper">
      <h1>Our Partners</h1>
      <div class="red-line"></div>
      <div class="partners-list">
        <div class="partners">
          <img src="/static/imgs/anfa.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/iism.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/java.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/ronb.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/army.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/kfc.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/isgli.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/anfa.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/anfa.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/anfa.png" alt="" />
        </div>
        <div class="partners">
          <img src="/static/imgs/anfa.png" alt="" />
        </div>
      </div>
    </section>

    <section class="feature-wrapper bg-smoke">
      <h1>Our Team members</h1>
      <div class="red-line"></div>
      <div class="team-member-list">
        <div class="team-member">
          <img src="/static/imgs/team-member_1.jpg" alt="" />
          <h4 class="member-name">Steve Jobs | CEO</h4>
        </div>
        <div class="team-member">
          <img src="/static/imgs/team-member_1.jpg" alt="" />
          <h4 class="member-name">Steve Jobs | CEO</h4>
        </div>

        <div class="team-member">
          <img src="/static/imgs/team-member_1.jpg" alt="" />
          <h4 class="member-name">Steve Jobs | CEO</h4>
        </div>
        <div class="team-member">
          <img src="/static/imgs/team-member_1.jpg" alt="" />
          <h4 class="member-name">Steve Jobs | CEO</h4>
        </div>
        <div class="team-member">
          <img src="/static/imgs/team-member_1.jpg" alt="" />
          <h4 class="member-name">Steve Jobs | CEO</h4>
        </div>
      </div>
    </section>

    <section class="feature-wrapper">
      <h1>Customer Reviews</h1>
      <div class="red-line"></div>
      <div class="review-list">
        <div class="review">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda,
            aliquam est molestiae placeat voluptatem similique doloremque quidem
            sequi officia dolor nam aspernatur laboriosam laborum consequatur,
            sit at soluta reiciendis tempora neque a expedita corrupti. Culpa,
            aut ipsa quae laboriosam dignissimos quaerat est. Quam rerum ipsam
            hic saepe a? Nemo, dolor!
          </p>
          <hr />
          <div class="user-info-on-review">
            <h4>John Doe</h4>
            <img src="/static/imgs/aa.webp" alt="" />
          </div>
        </div>

        <div class="review">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda,
            aliquam est molestiae placeat voluptatem similique doloremque quidem
            sequi officia dolor nam aspernatur laboriosam laborum consequatur,
            sit at soluta reiciendis tempora neque a expedita corrupti. Culpa,
            aut ipsa quae laboriosam dignissimos quaerat est. Quam rerum ipsam
            hic saepe a? Nemo, dolor!
          </p>
          <hr />
          <div class="user-info-on-review">
            <h4>John Doe</h4>
            <img src="/static/imgs/aa.webp" alt="" />
          </div>
        </div>

        <div class="review">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda,
            aliquam est molestiae placeat voluptatem similique doloremque quidem
            sequi officia dolor nam aspernatur laboriosam laborum consequatur,
            sit at soluta reiciendis tempora neque a expedita corrupti. Culpa,
            aut ipsa quae laboriosam dignissimos quaerat est. Quam rerum ipsam
            hic saepe a? Nemo, dolor!
          </p>
          <hr />
          <div class="user-info-on-review">
            <h4>John Doe</h4>
            <img src="/static/imgs/aa.webp" alt="" />
          </div>
        </div>
      </div>
    </section>
{% endblock %}