{% extends 'garage_layout.html' %}
{% block title %}Booking{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/ui/util.css" />
<link rel="stylesheet" type="text/css" href="/static/css/ui/checkout.css" />

<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous"
/>
{% endblock %}

{% block content %}
<section class="border row m-5 p-lg-4">
  <div class="col-6">
    <form action="/garages/book/{{garage_id}}" method= 'post' id="my-form">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Available Times</label
          >
          <select class="form-control" aria-label="Default select example" name='timing'>
            <option value = '09:00 AM - 10:00 AM' selected>09:00 AM - 10:00 AM</option>
            <option value = '10:00 AM - 11:00 AM'>10:00 AM - 11:00 AM</option>
            <option value = '11:00 AM - 12:00 PM'>11:00 AM - 12:00 PM</option>
            <option value = '12:00 PM - 01:00 PM'>12:00 PM - 01:00 PM</option>
            <option value = '01:00 PM - 02:00 PM'>01:00 PM - 02:00 PM</option>
            <option value = '02:00 PM - 03:00 PM'>02:00 PM - 03:00 PM</option>
            <option value = '03:00 PM - 04:00 PM'>03:00 PM - 04:00 PM</option>
            <option value = '04:00 PM - 05:00 PM'>04:00 PM - 05:00 PM</option>
            <option value = '05:00 PM - 06:00 PM'>05:00 PM - 06:00 PM</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle form-control"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {%for i in service_list%}
            <div class="row">
              <div class="col-1 ml-2">
                <input
                  type="checkbox"
                  value={{i.service_id}}
                  class="service-select"
                  aria-label={{i.service_name}}
                  data-services-price={{i.service_price}}
                  name = 'service'
                />
              </div>
              <div class="col-8">
                <label for="">{{i.service_name}}</label>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="p_nd_d">Pick up and drop</label>
        <input
          type="checkbox"
          name="p_nd_d"
          id="p_nd_d"
          class="form-check"
        />
      </div>

      <div class="row" id="row-to-hide" style="display: none">
        <div class="col-4 mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Location</label
          >
          <input type="text" class="form-control" />
        </div>
        <div class="col-4 mb-3">
          <label for="exampleInputEmail1" class="form-label">Brand</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-4 mb-3">
          <label for="exampleInputEmail1" class="form-label">Brand</label>
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="mb-3">
        <label for="" class="form-check-label">Subscription</label>
        <input
          type="checkbox"
          class="form-check mt-2 mb-2"
          id="subCheckbox"
        />

        <div id="sub-row-to-hide" style="display: none">
          <select name="" id="" class="form-control">
            <option value="">3 Months</option>
            <option value="">6 Months</option>
            <option value="">12 Months</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="grand-total"
          name="total"
          hidden
        />
        <input
          type="text"
          class="form-control"
          id="hidden-service-ids"
          name="hidden-service-ids"
          hidden
        />

        <input
        type="text"
        class="form-control"
        id="hidden-pd"
        name="hidden-pd"
        hidden
      />
        
      </div>
      <button class="btn btn-primary" onclick="displayService()">
        Calculate
      </button>
    </form>
  </div>
  <div class="col-6">
    <img src="../img/checkout.jpg" alt="" class="col-12 mb-4" />
    <div class="row mb-2 ml-1">
      <div class="col-8"><b>Services</b></div>
      <div class="col-4"><b>Price</b></div>
    </div>
    <div class="mb-1 ml-1" id="services-list"></div>
    <div class="row mt-3 ml-1">
      <div class="col-8"></div>
      <div class="col-4">
        <button
          class="btn btn-primary"
          onclick="handleSubmit()"
          id="submit-button"
          style="display: none"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  //submit form
  const form = document.getElementById("my-form");
  const submitButton = document.getElementById("submit-button");
  function handleSubmit() {
    form.submit();
  }

  var checkbox = document.getElementById("p_nd_d");
  var rowToHide = document.getElementById("row-to-hide");

  var subCheckbox = document.getElementById("subCheckbox");
  var subRowToHide = document.getElementById("sub-row-to-hide");

  checkbox.addEventListener("change", function () {
    if (this.checked) {
      rowToHide.style.display = "flex";
      const hidden_pd = document.getElementById("hidden-pd");
      hidden_pd.value = true
      console.log('shown')
    } else {
      const hidden_pd = document.getElementById("hidden-pd");
      console.log('hidden')
      hidden_pd.value = 'false'
      rowToHide.style.display = "none";
    }
  });
  subCheckbox.addEventListener("change", function () {
    if (this.checked) {
      subRowToHide.style.display = "flex";
    } else {
      subRowToHide.style.display = "none";
    }
  });

  //checkbox data
  function displayService() {
    const form = document.getElementById("my-form");
    const checkboxes = form.getElementsByClassName("service-select");
    

    form.addEventListener("submit", (event) => {
      event.preventDefault();

      const selectedCheckboxes = Array.from(checkboxes).filter(
        (checkbox) => checkbox.checked
      );

      const selectedValues = selectedCheckboxes.map(
        (checkbox) => checkbox.value
      );

      const uiserviceids = document.getElementById("hidden-service-ids");
      uiserviceids.value = selectedValues
      const services = selectedCheckboxes.map((checkbox) => {
        return {
          value: checkbox.getAttribute("data-services-price"),
          ariaLabel: checkbox.getAttribute("aria-label"),
        };
      });
      if (services.length <= 0) {
        submitButton.style.display = "none";
      } else {
        submitButton.style.display = "block";
      }
      //Displaying data
      const uiGrandTotal = document.getElementById("grand-total");
      let parent = document.getElementById("services-list");
      let total = 0;

      parent.innerHTML = "";
      for (let i = 0; i < services.length; i++) {
        total += parseInt(services[i].value);
        parent.innerHTML += `
        <div class="row mb-1 ml-1">
          <div class="col-8">${services[i].ariaLabel}</div>
          <div class="col-4">${services[i].value}</div>
        </div>`;
      }

      //adding tax
      let taxAmount = total * 0.1;
      parent.innerHTML += `
        <div class="row mb-1 ml-1">
          <div class="col-8"><b>Tax</b></div>
          <div class="col-4"><b>${taxAmount}</b></div>
        </div>`;

      //Total cost
      parent.innerHTML += `
        <div class="row mb-1 ml-1">
          <div class="col-8"><b>Grand Total</b></div>
          <div class="col-4"><b>${total + taxAmount}</b></div>
        </div>`;

      uiGrandTotal.value = total + taxAmount;
    });
  }
</script>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

{% endblock %}

