/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  padding: 0;
}

/* Clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Text Alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Box Sizing */
.box-sizing-border-box {
  box-sizing: border-box;
}

/* Display and Visibility */
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
  .container {
    padding: 10px;
  }
}

/* Desktop/Website styles */
@media only screen and (min-width: 768px) {
  .container {
    padding: 30px;
  }
}
